// ======================================
//             Color Palette
// ======================================
$green: #85bc23;
$white_bg:#f8f8ff;
$orange1:#f3650f;
$orange2:#f0ad4e;
$gray_light:#f6f8fa;

// ======================================
//             Media Queries
// ======================================
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

// ======================================
//           Partials Inport
// ======================================
@import "components/navbar";
@import "components/banner";
@import "components/sponsors";
@import "components/3steps";
@import "components/cards";
@import "components/footer";

//             Pages:
@import "components/about";
@import "components/HowItWorks";

// do not delete> used to help debuging!
//
// * {
//   border: 1px solid #ff0000;
// }
