body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 19px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

//          XS

.about_content{
    padding-left: 40px !important;
    padding-right: 40px !important;
    h1{
        margin-bottom: 50px;
        margin-top: 0;
        color: #484848;
        font-size: 45px;
        margin: 25px 0;
        text-align: left;
        font-weight: 500;
        line-height: 1.1;
    }
    p{
        margin-bottom: 15px;
        margin-top: 15px;
    }
}


.forbes{
    width: 100%; 
}

.nbc{
    width: 100%;
    float: unset;
}

.avatar-img{
    display: block;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float: right;
    width: 32%;
}

.avatar-text{
    display: block;
    float: left;
    width: 68%;
    p{
        span{
            color: #04ABD9;
        }
    }
}

.row, .mb30, .mt20{
    margin-bottom: 30px;
}


//          SM
@media (min-width: 576px) {
    .about{
        min-height: 4305px;
        padding: 50px 0px 0px;
        background-color: $gray_light;
        .container{
            max-width: 1024px;
            padding: 40px;
            margin-right: auto;
            margin-left: auto;
            background-color: #fff;
        }
     
    }

    .forbes{
        padding-left: 0px;
        padding-right: 10px;
        width: 50%;
        margin: 0px;
        
    }

    .nbc{
        padding-left: 10px;
        padding-right: 0px !important;
        width: 50%;
        float: right;
        margin: 0px;
    }


    .avatar-img{
        display: block;
        float: right;
        width: 100%;
    }
    
    .avatar-text{
        display: block;
        float: left;
        width: 100%;
    }

}

//          MD
@media(min-width: 768px){
    .avatar-img{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}