.album{
    div{
        h1{
            text-align: center;
            padding-bottom: 30px;
        }
    }
}

.container{
    padding: 5px;
    
}

.card-body{
    padding: 10px;
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: rgb(10, 18, 129);
            text-decoration: underline;
        }
    }
}

.project-card {
    &:hover { 
        transform: scale(1.05); 
    }
}
