body{
   
    font-family: gotham_mediumregular;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

//          XS

.faq_content{
    padding-left: 40px !important;
    padding-right: 40px !important;
    h1{
        margin-bottom: 20px;
        margin-top: 0;
        color: #484848;
        font-size: 48px;
        text-align: left;
        font-weight: 500;
        line-height: 1.1;
    }
    p{
        margin-bottom: 10px;
        margin-top: 15px;
        font-size: 20px;
        font-weight: bold;
    }
}


.card{
    .card-header{
        padding: 0;
        .mb-0{
            button{
                margin: 5px;
                padding: 0 !important;
                padding-bottom: 5px !important;
                p{
                    color: #004964 !important;
                    font-size: 18px;
                    font-weight: 500 !important;
                    text-decoration: none !important;
                    color: black;
                    text-align: left;
                    text-decoration: none;
                    margin: 5px;
                    i{
                        margin-right: 5px;
                        color: #004964;
        
                    }
        
                }
            }
        }
    }
}


.accordion_text{
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400 !important;
        font-size: 15px;
        line-height: 25px;
        text-decoration: none;
        ul{
            li{
                font-size: 14px !important; 
                font-weight: 200 !important;

            }
        }

    }
}





//          SM
@media (min-width: 576px) {
    .FAQ{
        min-height: 4305px;
        padding: 50px 0px 0px;
        background-color: $gray_light;
        .container{
            max-width: 1024px;
            padding: 40px;
            margin-right: auto;
            margin-left: auto;
            background-color: #fff;
        }
     
    }
}