
.mini_header{
    line-height: 1.5!important;
    color: #6d8191!important;
    font-size: 12px!important;
    font-family: gotham_mediumregular;
    background: #004560 ;
    .container-fluid{
        max-width: 970px;
        .row{
            h1{
            font-size: 48px !important;
            line-height: 1.5!important;
            color: #ffffff!important;
            font-family: gotham_mediumregular;
            box-sizing: border-box;
            padding-right: 15px;
            padding-left: 15px;
            
            margin: 15px;
            margin-right: auto;
            margin-left: auto;
            width: 960px;
            text-align: center;
            }
    
            p{
                line-height: 1.5!important;
                color: #fff;
                text-align: center;
                box-sizing: border-box;
                margin: 0 10px 0 10px;
                font-family: gotham_mediumregular;
                font-size: 19px;
                width: 960px;
                
            }
        }
    }
}

.video_1{
    h1{
        text-align: center;
    }
}


// categories

.categories{
    div{
        h1{
            box-sizing: border-box;
            font-weight: 300;
            line-height: 1.1;
            color: #3b3b3b;
            font-family: gotham_mediumregular;
            text-align: center;
            font-size: 32px !important;
            margin: 0!important;
        }
        img{
            padding-bottom: 10px;
            padding-top: 20px;
            margin-left: auto;
            margin-right: auto;
            margin: auto;
            display: block;
            width: 100%;
        }
    }
}


.nr1{
    .container{
        img{
            padding-bottom: 10px;
            padding-top: 20px;
        }
        h1{
            box-sizing: border-box;
            font-weight: 300;
            line-height: 1.1;
            color: #3b3b3b;
            font-family: gotham_mediumregular;
            text-align: center;
            font-size: 32px !important;
            margin: 0!important;  
        }
        p{
            margin-top: 10px;
            margin-bottom: 0px;
            text-align: center;
            img{
                padding-bottom: 5px;
                padding-top: 0px;
            }
        }
    }
}




//                  MD
@media(min-width: 576px){
    .embed-responsive-16by9{
            max-width: 680px;
            min-width:500px ;
            max-height: 380px;
            margin: auto;
            padding-left: auto;
            padding-right: auto;

    }
}


@media (min-width:$LG){
    .categories{
        div{
            img{
                padding-bottom: 10px;
                padding-top: 20px;
                margin-left: auto;
                margin-right: auto;
                margin: auto;
                display: block;
                width: 80%;
            }
        }
    }
}
