// ======================================
//             Navbar Styles
// ======================================



@media (min-width: 992px) {
  .navbar{
    margin: 0px;
    padding: 0px;
    font-size: small;
    font-weight:bold;
  
  .container {
    margin: 10px;
    padding: 5px;
    .btn-group  {
      padding: 0; 
      cursor: pointer; 
      display: block; 
    }
    
    .btn-group:not(:last-child) {
      border-bottom: none; 
    }
   

        button {
          margin-left: 25px;
          padding: 5px;
          text-align: center;
            a{
              margin: 5px;
              padding: 0px;
            }
        }
        div{
          ul{
            li{
              a{
                margin-left: 20px;
              }
            }
          }
        }
    }
    .container{
      width: 100%;
      div{
        margin: 0;
      }
    }

    }
  } 






@media (min-width: 1200px) {
  .navbar{
    font-size: small;
    font-weight:bold;
    margin: 0px;
    padding: 0px;
    .container {
      margin: 10px;
      margin-left: 40px;
      padding: 5px;
      max-width: 1450px;
        div{
          ul{
            li{
              a{
                margin-left: 20px;
              }
            }
          }
        }
    }
  }
  
 

  .btn-main {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: $orange1;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
      &:active {
        background-color: $orange2;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }

    .navbar-brand{
      color: #fff !important;
    }

  }


  